In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from warnings import simplefilter

simplefilter(action='ignore', category=FutureWarning)
%matplotlib inline

In [8]:
df = pd.read_csv('data/une_sample.csv', encoding='utf-8')
df.head(2)

,nombre_ruta,fecha,longitud,direccion,ruta_id,vehiculo_id,velocidad,latitud
0,Linea 12,2019-08-18T00:13:52Z,-110.953616,274,1201,150,28,29.114615
1,Linea 12,2019-08-18T00:14:20Z,-110.957068,262,1201,150,54,29.114160

In [9]:
df.drop(['nombre_ruta'], axis=1, inplace=True)
df.head()

,fecha,longitud,direccion,ruta_id,vehiculo_id,velocidad,latitud
0,2019-08-18T00:13:52Z,-110.953616,274,1201,150,28,29.114615
1,2019-08-18T00:14:20Z,-110.957068,262,1201,150,54,29.114160
2,2019-08-18T00:15:04Z,-110.958128,326,1201,150,35,29.115721
3,2019-08-18T00:16:00Z,-110.958566,351,1201,150,37,29.118298
4,2019-08-18T00:16:44Z,-110.958950,352,1201,150,37,29.120731

In [24]:
df.groupby(['vehiculo_id']).count()

             fecha  longitud  direccion  ruta_id  velocidad  latitud
vehiculo_id
63              21        21         21       21         21       21
68              83        83         83       83         83       83
150            100       100        100      100        100      100
153             27        27         27       27         27       27
222             15        15         15       15         15       15
325              1         1          1        1          1        1
443              5         5          5        5          5        5
647             24        24         24       24         24       24

In [68]:
df['fecha'] = pd.DatetimeIndex(df['fecha']).tz_convert(tz='MST')
df['hora'] = pd.DatetimeIndex(df['fecha']).hour
df['minutos'] = pd.DatetimeIndex(df['fecha']).minute

df.head(2)

,fecha,longitud,direccion,ruta_id,vehiculo_id,velocidad,latitud,hora,minutos
0,2019-08-17 17:13:52-07:00,-110.953616,274,1201,150,28,29.114615,17,13
1,2019-08-17 17:14:20-07:00,-110.957068,262,1201,150,54,29.114160,17,14

In [71]:
cond_a = df['hora'] >= 17
cond_b = df['hora'] <= 18
cond_c = df['vehiculo_id'] == 150

temp = df[cond_a & cond_b & cond_c].copy()

temp.sort_values(by=['fecha','vehiculo_id'])

,fecha,longitud,direccion,ruta_id,vehiculo_id,velocidad,latitud,hora,minutos
0,2019-08-17 17:13:52-07:00,-110.953616,274,1201,150,28,29.114615,17,13
1,2019-08-17 17:14:20-07:00,-110.957068,262,1201,150,54,29.114160,17,14
2,2019-08-17 17:15:04-07:00,-110.958128,326,1201,150,35,29.115721,17,15
3,2019-08-17 17:16:00-07:00,-110.958566,351,1201,150,37,29.118298,17,16
4,2019-08-17 17:16:44-07:00,-110.958950,352,1201,150,37,29.120731,17,16
5,2019-08-17 17:17:56-07:00,-110.961281,275,1201,150,22,29.120923,17,17
6,2019-08-17 17:18:00-07:00,-110.961391,263,1201,150,22,29.120911,17,18
8,2019-08-17 18:01:32-07:00,-110.961480,82,1201,150,22,29.120845,18,1
9,2019-08-17 18:01:52-07:00,-110.960800,84,1201,150,22,29.120906,18,1
10,2019-08-17 18:02:48-07:00,-110.959016,87,1201,150,24,29.120995,18,2
11,2019-08-17 18:03:28-07:00,-110.958620,172,1201,150,33,29.118403,18,3
12,2019-08-17 18:04:00-07:00,-110.958555,172,1201,150,33,29.117951,18,4
13,2019-08-17 18:04:32-07:00,-110.958238,171,1201,150,41,29.116030,18,4
14,2019-08-17 18:05:00-07:00,-110.957855,171,1201,150,52,29.113700,18,5
15,2019-08-17 18:05:36-07:00,-110.956963,154,1201,150,26,29.111943,18,5
16,2019-08-17 18:06:00-07:00,-110.954288,83,1201,150,48,29.112266,18,6
17,2019-08-17 18:06:04-07:00,-110.953721,82,1201,150,50,29.112345,18,6
222,2019-08-18 17:03:59-07:00,-110.962573,83,1201,150,20,29.120685,17,3
223,2019-08-18 17:04:51-07:00,-110.960245,82,1201,150,24,29.120981,17,4
224,2019-08-18 17:05:39-07:00,-110.958801,132,1201,150,33,29.119681,17,5
225,2019-08-18 17:05:59-07:00,-110.958683,172,1201,150,18,29.118918,17,5
226,2019-08-18 17:06:35-07:00,-110.958415,171,1201,150,29,29.117230,17,6
227,2019-08-18 17:07:35-07:00,-110.958035,171,1201,150,29,29.114953,17,7
228,2019-08-18 17:07:59-07:00,-110.957915,172,1201,150,0,29.114181,17,7
229,2019-08-18 17:08:27-07:00,-110.957636,171,1201,150,37,29.112583,17,8
230,2019-08-18 17:09:03-07:00,-110.955528,103,1201,150,37,29.112108,17,9
243,2019-08-18 18:51:03-07:00,-110.955171,264,1201,150,44,29.114395,18,51
244,2019-08-18 18:51:55-07:00,-110.958286,350,1201,150,54,29.116513,18,51
245,2019-08-18 18:51:59-07:00,-110.958343,351,1201,150,54,29.116848,18,51
247,2019-08-18 18:52:43-07:00,-110.958635,352,1201,150,54,29.118816,18,52
248,2019-08-18 18:53:23-07:00,-110.959035,350,1201,150,33,29.121078,18,53
249,2019-08-18 18:54:15-07:00,-110.961783,263,1201,150,33,29.120851,18,54

In [18]:
# pd.DatetimeIndex(df['fecha'], tz='MST')

# temp = ['2019-08-17T23:58:44Z', '2019-08-17T23:58:02Z','2019-08-18T00:00:02Z','2019-08-18T00:00:44Z']

# pd.DatetimeIndex(df['fecha']).tz_convert(tz='MST')[0].day

In [12]:
# temp = pd.to_datetime(df['fecha'])
# temp.dayofweek()